.App {
  padding: 30px;
}

.state-debug {
  position: fixed;
  height: 50px;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.92);
  color: #fff;
  padding: 5px;
  overflow: auto;

  transition: height 0.2s ease-in-out;

  &:hover {
    height: 90vh;
  }
}
