.GameFrame {

  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    min-height: 100px;
  }

  .status-wrapper {

    span {
      display: block;
    }
  }

  .good {
    background-color: greenyellow;
  }

  .bad {
    background-color: #ff484b;
  }

  .covered {
    color: rgba(0, 0, 0, 1);
  }

  .untouched {
    color: rgba(0, 0, 0, 0.5);
  }
}
