.PlayerList {

  * {
    box-sizing: border-box;
  }

  table {
    width: 100%;

    th {
      text-align: left;
    }

    th, td {
      height: 25px;
    }

    tr.you {
      background-color: rgba(0, 0, 0, 0.1);
    }

    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }

    .progress-cell {
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        z-index: -1;
        background-color: greenyellow;
      }
    }
  }
}
